{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login ServiSur</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="login-wrapper">
      <div class="login-box">
        <img
          src="{% static 'img/logo_servisur1.png' %}"
          alt="Logo ServiSur"
          class="logo"
        />
        <h2>Bienvenido de nuevo</h2>
        <p>Ingresa tus credenciales para acceder a tu cuenta.</p>

        <form method="post">
          {% csrf_token %}

          <!-- Campo usuario -->
          <div class="input-group">
            <img
              src="{% static 'img/icono_usuario.png' %}"
              alt="Usuario"
              class="icon-img"
            />
            {{ form.username }}
          </div>

          <!-- Campo contraseña -->
          <div class="input-group">
            <img
              src="{% static 'img/icono_candado.png' %}"
              alt="Contraseña"
              class="icon-img"
            />
            {{ form.password }}
            <img
              src="{% static 'img/icono_ojo.png' %}"
              id="togglePassword"
              class="toggle-icon"
              alt="Mostrar contraseña"
            />
          </div>

          <button type="submit" class="login-btn">Iniciar sesión</button>
        </form>

        <a href="#" class="forgot-link">¿Olvidaste tu contraseña?</a>
      </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
  </body>
</html>
